@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root{
    --primary-color:#4E5150;
    --secondary-color:#333333;
    --tertiary-color:#4F4F4F;
    --gray-3:#828282;
    --gray-5:#E0E0E0;
    --gray-6:#F2F2F2;
    --orange-color:#F2994A;
    --gray-4:#BDBDBD;
}
.page{
    display:flex;
    flex-direction: column;
    gap:4vh;
    margin-top:3rem;
}
.page__heading{

    font-family:Montserrat;
    font-weight:600;
    font-size:2.25rem;
    line-height:2.74rem;
    color:var(--primary-color);
}
.page__main{
    display: flex;
    flex-direction: row;
    gap:7vw;
}
.page-container-one{
    display: flex;
    flex-direction: column;
    gap:6vh;
}

.page-container-two{
    display: flex;
    flex-direction: column;
    gap:5.5vh;
    background-color: var(--gray-6);
    padding:2rem;
    border-radius: 12px;
    height: fit-content;
}
.contact-information{
    display: flex;
    flex-direction: column;
    gap:2vh;
}
.contact-information-heading,.shipping-address-heading{
    font-family:Montserrat;
    font-weight:600;
    font-size:1.1rem;
    line-height:1.37rem;
    color:var(--secondary-color);
}
.material-icons, .material-icons-round{
    color:var(--gray-3);
    align-self: center;
    margin-left:0.2rem; 
}
.label-input-container{
    display: flex;
    flex-direction: column;
    gap:1vh;
}
label{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.75rem;
    line-height:0.9rem;
    color:var(--tertiary-color);

}
input:focus{
    outline: none;
    
}
input{
    border:none;
    align-self: stretch;
}

::placeholder{
    font-family:Montserrat;
    font-weight:600;
    font-size:1rem;
    line-height:1.21rem;
    color:var(--gray-3);
  
}
.full-name::placeholder{
    color:var(--secondary-color);
}
.input-element{
    display: flex;
    flex-direction: row;
    border:1px solid var(--gray-3);
    gap:1vw;
    border-radius:12px;
    padding:1rem 0.5rem;
    
}
.shipping-address{
    display: flex;
    flex-direction: column;
    gap:2vh;
}
.country-and-code{
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.country{
     width:9em;
    
}


.country-container,.postal-code-container{
   
    gap:0.3rem; 
}

.country-and-option-flex{
    display: flex;
    flex-direction: row;
    
}
.options-arrow{
    border:none;
    align-self: center;
    color:var(--gray-3);
    background-color: var(--gray-5);
    border-radius: 4px;
    margin-left:20px;
}

.options-arrow:focus{
    outline:none;
}
.save-info{
    display: flex;
    flex-direction: row;
    gap:0.5vw;
}
.save-info-text{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.75rem;
    line-height:0.9rem;
    color:var(--tertiary-color);
    align-self: center;

}
input[type="checkbox"]{
    width:21px;
    height:21px;
    border-radius: 4px;
}
.btn-continue{
    width:10.3rem;
    height:3.3rem;
    font-family:Montserrat;
    font-weight:600;
    font-size:1rem;
    line-height:1.25rem;
    color:#FFFFFF;
    border-radius: 12px;
    background-color: var(--orange-color);
    border:none;
    align-self: flex-end;

}
.photo1,.photo2{
   border-radius: 13px;
   width:11vw;
   height:25vh;
}
.vintage-backbag,.levi-shoes{
    display:flex;
    flex-direction: row;
    gap:1.5vw;

}
.vintage-backbag-details,.levi-shoes-details{
    display: flex;
    flex-direction: column;
    gap:1.5vh;
    width:100%;
}
.rates-and-quantity-container{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}
.vintage__heading,.levi__heading{
    font-family:Montserrat;
    font-weight:600;
    font-size:1rem;
    line-height:1.25rem;
    color:var(--primary-color);
}
.vintage__currentprice,.levi__currentprice{
    font-family:Montserrat;
    font-weight:600;
    font-size:1rem;
    line-height:1.25rem;
    color:var(--orange-color);
}
.vintage__previousprice,.levi__previousprice{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.75rem;
    line-height:0.9rem;
    color:var(--primary-color);
    text-decoration: line-through;
    align-self: center;
}
.vintage__rates,.levi__rates{
    display: flex;
    flex-direction: row;
    gap:1vw;
}

.number::-webkit-outer-spin-button,.number::-webkit-inner-spin-button{
    display: none;

}
.shipping{
    margin-top:3rem;
}
.shipping,.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top:1.5px solid var(--gray-4);
    border-bottom:1.5px solid var(--gray-4);
    padding:0.8rem 0;
    border-left:none;
    border-right:none;
}
.total{
    border-top:none;
    border-bottom:none;
}
.shipping-text,.total-text{
    font-family:Montserrat;
    font-weight:600;
    font-size:1.1rem;
    line-height:1.3rem;
    color:var(--secondary-color);
}
.shipping-price,.total-price{
    align-self: center;
    font-family:Montserrat;
    font-weight:600;
    font-size:0.8rem;
    line-height:1rem;
    color:var(--secondary-color);

}


.number{
     text-align: center;
    width:1rem;
    color:var(--secondary-color);
    font-family: Montserrat;
    font-size:1rem;
    background-color: var(--gray-6);
}
.btn-plus,.btn-minus{
    border:none;
    color:var(--gray-3); 
    background-color: var(--gray-5);
    border-radius: 4px;
    margin-left:0; 
}

.page__footer{
    margin-top:8vh;
    margin-bottom: 1rem;
    font-family:Montserrat;
    font-weight:600;
    font-size:0.8rem;
    line-height:1rem;
    color:var(--gray-4);
    text-align: center;
}
.page__footer a{
    font-weight:700;
    color:var(--gray-4);
}

.quantity-container{
    display: flex;
    flex-direction: row;
    border:1px solid var(--gray-3);
    border-radius: 12px; 
      padding:0.7rem 0.5rem;
    justify-content: center; 
    align-items: center;
    gap:1.5vw;


}

@media (max-width:480px){
    .page{
        
    }
    .page__main{
        margin-left: 0.7rem;
        flex-wrap: wrap-reverse;
        margin-right: 0.7rem;
    }
    .page__heading{
        /* width:100% */
        width:fit-content;
        margin-left: 1rem;
    }
    .input-element{
      
    padding:0.5rem 0rem;
        gap:2.5vw;
  
    }
    .country-container,.postal-code-container{
        
        width:45vw;
        gap:1.5vw; 
    }
    ::placeholder{
        font-size:0.75rem;
    line-height:0.9rem;
    }
    .material-icons, .material-icons-round{
        color:var(--gray-3);
        align-self: center;
    }
    .country{
        width:6.4em;
   }
   .country-and-code{
       gap:5.5vw;
   }
   .postal-code{
       width:8.5em;
   }
   .save-info{
    display: flex;
    flex-direction: row;
    gap:0.5vw;
}
.save-info-text{
    font: size 0.6rem;
    line-height:0.75rem;

}
input[type="checkbox"]{
    width: 16px;
    height:15px;
}
   
.photo1,.photo2{
    width:35vw;
    height:17vh;
 }
 
.vintage-backbag,.levi-shoes{
    display:flex;
    flex-direction: row;
    gap:5vw;

}
.vintage-backbag-details,.levi-shoes-details{
    display: flex;
    flex-direction: column;
    gap:1.5vh;
    width:100%;
}
.rates-and-quantity-container{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}
.vintage__heading,.levi__heading{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.75rem;
    line-height:0.9rem;
    color:var(--primary-color);
}
.vintage__currentprice,.levi__currentprice{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.8rem;
    line-height:1rem;
    color:var(--orange-color);
}
.vintage__previousprice,.levi__previousprice{
    font-family:Montserrat;
    font-weight:600;
    font-size:0.6rem;
    line-height:0.75rem;
    color:var(--primary-color);
    text-decoration: line-through;
    align-self: center;
}
.vintage__rates,.levi__rates{
    display: flex;
    flex-direction: row;
    gap:4vw;
}


.page__footer{
 
    font-size:0.8rem;
    line-height:1rem;
   
}

.quantity-container{
     width:80%; 
    display: flex;
    flex-direction: row;
    border:1px solid var(--gray-3);
    border-radius: 12px;
    
      padding:0.8rem 0rem;
    
    justify-content: center; 
    align-items: center;
    gap:4vw;


}
.page-container-two{
    width:100%;
}
.page-container-one{
    width:100%;
}


}